---
import ThemeToggle from "./ThemeToggle.astro";
import LanguageSwitcher from "./LanguageSwitcher.astro";

const {
  title,
  homeUrl = "/",
  links = [],
  locale = "en",
  translationPath = null,
} = Astro.props;
---
<header class="topbar">
  <a href={homeUrl}>{title}</a>
  <div class="header-links">
    {links.map((link) => (
      <a href={link.href}>{link.label}</a>
    ))}
    <LanguageSwitcher locale={locale} translationPath={translationPath} />
    <ThemeToggle locale={locale} />
  </div>
</header>
